<div id="starter-screen">
  <div class="space-y-7">
    <h2 class="text-3xl font-bold mb-4 ml-10">Start Here</h2>
    <div class="flex items-center justify-center space-x-2">
      <button data-form-toggle-target="startButton" class="btn bg-[#59672D] text-white px-6 py-2 rounded-md font-semibold text-2xl">
        Calculate my Profit
      </button>
    </div>
  </div>
</div>
